@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
html,body{
    font-family: "Lato", sans-serif !important;
}
@media only screen and (max-witdh:760px)
{
    html,body{
        width:100%;
        overflow:hidden;
    }
}
section{
    background:#EDE5D2;
}
nav{
    background: #C5AA6A;
}
.sidemenu 
{
    width: 50%;
    height: 85vh;
    top: 40px;
    right: 0px;
    position: absolute ;
    text-align: center;
    background-color: #C5AA6A;
    padding: 40px 0px;
    border-radius: 5px 0 0 15px;
    z-index: 10;

}
.edp{
    transition: left 0.3s ease;
}
.sidemenu  a{
    display: block;
    padding:10px;
    margin: 10px 0;
    text-decoration: none;
    border-left: none;
    border-right: none;
    color: #0b323b9e;
    font-size: 20px;
    font-weight:bold;
}

.round1{
    width: 500px;
    border-radius: 1000px;    
}
.round2{
    width: 500px;
    border-radius: 1000px;    
}
.skill{
    font-family: "Playfair Display", serif;
    font-size: 2.5em !important;
    /* background-color: #fafafa; */
    border-radius: 100%;
    padding:10px;
}
.ed{
    border-bottom: 2px solid black;
}
.fe-skills{
    border-radius:10px;
    margin-left: 6%;
    padding: 15px ;
    text-align: center;
    width: 100%;
    background-color: #fafafa;
}
.fe-skills aside{
    width: 50%;
}
.ms{
    margin-top: 10px;
    margin-right: 20px;
    flex-wrap: wrap;
   
}
.borde{
    width: 130px;
    background-color: #8c868a;
    border-radius: 6px;
}
.borde p{
    font-size: 16px;
    color: #fff;
    font-weight: 600;
}
.borde i{
    font-size: 25px;
    border-radius: 3px;
    padding-top: 1.8px;
    margin-right: 2px;
    border: 2px solid ;
    margin-top: 1px !important;
}

.borde.s{
    width: 150px;
}

/* contact form in header*/

.w{
    width: 450px;
    position:absolute;
    top: 15%;
    right: 3%;
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    z-index: 10;
}

.w i{
    float: right;
    margin-top: -20px;
    margin-right: -10px;
    font-size: 29px;
    cursor: pointer;
    color: #c95d2c;
}

.w i:hover{
    background-color: #8c868a;
    border-radius: 20px;
    color: #fafafa;
}
.start{
    color: red;
    font-size: 18px;
}

.hide{
    display: none;
}
.open{
    display: block;
}
.p{
    padding-top: -50px;
}

.ch{
   min-height: 480px;
text-align: justify;
   /* overflow:scroll; */
}

.ht{
    background:rgb(208, 109, 33);
    font-size: 10px;
}
.cs{
    font-size: 10px;
    background:rgb(22, 131, 178);
}
.ja
{
    font-size: 10px;
    background:rgb(204, 191, 71);
}
.ms1{
    font-size: 10px;
    background:rgb(135, 33, 208);
}
.b{
    font-size: 10px;
}

.p  p{
    font-size: 16px;
}

/* .x{
    font-size: 24px !important;
    text-align: justify;
} */
.tit{
    font-size: 20px;
    font-weight: 600;
}

.tit:hover{
    color: red;
    text-decoration: underline;
    transition: 0.5s;
}

.link{
    font-size: 18px;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: 500;
    padding:5px;
    font-family:'Times New Roman', Times, serif;
}

.link:hover{
    color: #1708e7 !important;
    border-radius: 5px;
    text-decoration:underline;
}

.hov{
    padding-top: 30px !important;
}

.linked{
    margin-left: 15%;
}

.page{
    padding:10%;
    /* border: 4px solid rgb(223, 176, 22); */
    border-radius: 10px;
    margin-top: 10px;
}
.page2{
    /* border: 8px solid; */
    padding: 25px !important;
    border-radius: 10px;
}

.linked a{
    width: 30px;
    text-align: center;
    font-size: 22px;
    border: 2.5px solid rgb(221, 106, 106);
    padding: 9px 10px 8px 10px;
    border-radius: 29px;
    margin-right: 5px;
    font-weight: bold;
}
.linked a:hover{
    color:rgb(221, 106, 106) ;
    border: 2.5px solid rgb(76, 89, 234);
    box-shadow: 2px 2px 10px rgb(53, 228, 13);
}
.linked p{
    font-size: 20px;
    text-align: center;
    padding-left: 4px;
}
.page div{
    margin-top: 25px;
}

/*------Footer------*/

/* footer{
    background-color: black;
    color: #fff;
    text-align: center;
} */

.formspan{
    color: red;
}
input:focus{
    outline: none;
}

/* .t
{
    color: green;
    border: 2px solid red;

}

.t:hover
{
    color: blue;
    text-decoration: underline red;
} */

.three{
    cursor: pointer;
    font-size: 26px;
    padding:2px  6.5px;
}
.three:hover{
    cursor: pointer;
    border:2px solid rgb(120, 117, 117);
    padding:2px  5px;
    border-radius: 5px;
    background-color: gray;
}
.sd:hover{
    border-bottom: 2px solid #0a58ca;
    width: 60%;
    margin: auto;
}
